* {
  padding: 0;
  margin: 0;
}
:root {
  --boxshadow-color: #3a3939;
}

html {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

header {
  height: 600px;
}

header > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: black;
}

.titleBlock {
  margin-top: -600px;
  height: 600px;
  text-align: center;
  color: white;
  position: relative;
  background: linear-gradient(to right, transparent, black, transparent);
}

.mainIcon {
  width: 80px;
  margin: 30px 0;
}

h1 {
  font-size: 10rem;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 15px;
  left: 48vw;
  animation: titlePosition 1.3s;
}

.headerTitle {
  text-align: center;
  animation: subtitlesPosition 1.8s;
}

.title {
  font-size: 3rem;
}

.subtitle {
  font-size: 1rem;
  color: #f0db4f;
  font-weight: 100;
}

.iconContainer {
  animation: languagesPosition 2.5s;
}

.littleIcon {
  margin: 10px 5px;
  width: 40px;
}

@keyframes titlePosition {
  0% {
    opacity: 0;
    transform: translateX(1000px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes subtitlesPosition {
  0% {
    opacity: 0;
    transform: translateX(-1000px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes languagesPosition {
  0% {
    opacity: 0;
    transform: translateX(1000px);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.section {
  height: 800px;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(
    45deg,
    hsl(240deg 3% 14%) 0%,
    hsl(269deg 11% 22%) 11%,
    hsl(304deg 15% 29%) 22%,
    hsl(329deg 23% 38%) 33%,
    hsl(344deg 29% 48%) 44%,
    hsl(359deg 42% 58%) 56%,
    hsl(13deg 64% 63%) 67%,
    hsl(25deg 83% 64%) 78%,
    hsl(38deg 90% 64%) 89%,
    hsl(52deg 84% 63%) 100%
  );
}

.sectionTitleNumber {
  position: absolute;
  top: 50px;
  left: 100px;
  text-align: center;
}

.sectionNumber {
  top: 10px;
  left: 20px;
  font-size: 10rem;
  color: #414141;
  text-shadow: -5px 10.5px 15px black, 20px -4.5px 33px white;
}

.sectionTitle {
  font-size: 2rem;
}

@media (max-width: 1100px) {
  .sectionTitleNumber {
    position: relative;
    top: 0px;
    left: 0px;
  }
  .slider,
  .countdownMain {
    margin-top: 0px !important;
  }
}

/*------------------------------------------------ #1 ------------------------------------------------   */

#calculator {
  width: 500px;
  height: 700px;
  margin: 50px auto;
  background-color: whitesmoke;
  overflow: hidden;
  border-radius: 20px;
}

#calculatorScreen {
  width: 390px;
  height: 200px;
  padding: 0 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 3rem;
  overflow: hidden;
  background-color: whitesmoke;
  box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.2), inset -4px -4px 5px white;
  margin: 30px auto;
  border-radius: 20px;
}

.temporaryCalculation {
  position: absolute;
  top: 0;
  right: 1vw;
  color: gray;
  font-size: 2.5rem;
}

#calculatorButtonsGrid {
  display: grid;
  grid-column: span 4;
  grid-row: span 5;
  grid-gap: 15px;
  padding: 0 30px;
  font-size: 2rem;
}

#calculatorButtonsGrid > span {
  text-align: center;
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  user-select: none;
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2), -4px -4px 10px white;
  cursor: pointer;
  background-color: transparent;
}

#calculatorButtonsGrid > span:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

#calculatorButtonsGrid > span:active {
  transform: translateY(3px) scale(1.01);
}

/* C BUTTON */
#calculatorButtonsGrid > span:nth-child(1) {
  background-color: #f07e7e;
}

#calculatorButtonsGrid > span:nth-child(1):hover {
  background-color: rgba(240, 126, 126, 0.5);
}

/* + BUTTON */
#calculatorButtonsGrid > span:nth-child(12) {
  grid-row: 3 / 5;
  grid-column: 4 / 4;
  background-color: rgb(125, 246, 125);
}

#calculatorButtonsGrid > span:nth-child(12):hover {
  background-color: rgb(125, 246, 125, 0.5);
}

/* - BUTTON */
#calculatorButtonsGrid > span:nth-child(19) {
  background-color: rgb(160, 130, 232);
}

#calculatorButtonsGrid > span:nth-child(19):hover {
  background-color: rgb(160, 130, 232, 0.5);
}

/*------------------------------------------------ #2 ------------------------------------------------   */
.magicians {
  background-image: url("../assets/photos/3_wizards_logo_HP.png");
  background-position: 100% 115%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.section__inner-title {
  position: relative;
  text-align: center;
  top: 30px;
  text-transform: uppercase;
}

.section__inner-title > h3 {
  font-size: 2rem;
}

.section__inner-title > h4 {
  font-size: 1.1rem;
  font-weight: 100;
  color: orange;
}

.invisible {
  animation: winMessage 2s;
  opacity: 0 !important;
}

.gallery {
  position: relative;
  height: 700px;
  overflow: hidden;
  margin-top: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.gallery__div {
  position: relative;
  width: 100px;
  height: 500px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.gallery__div-img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 4px 4px 10px var(--boxshadow-color);
}

.gallery__div:hover {
  width: 200px;
}

.imgClicked {
  width: 500px !important;
}

.textInsideImageInGallery {
  position: absolute;
  text-transform: uppercase;
  bottom: 0;
  color: white;
  width: 100%;
  min-height: 50px;
  padding: 30px 0px;
  opacity: 0;
  overflow: hidden;
}

.textInsideImageInGallery h3 {
  font-size: 2rem;
  margin: 10px 0;
}

.textInsideImageInGallery p {
  font-weight: 700;
}

.gallery__div-div-button {
  border-radius: 50px;
  font-size: 0.8rem;
  margin-top: 10px;
  padding: 10px 30px;
  border: 1px solid white;
  font-size: 0.7rem;
  display: inline-block;
  transition: color background-color 1s;
}

.gallery__div:nth-child(1) .gallery__div-div-button:hover {
  background-color: rgb(241, 241, 80);
  color: black;
}

.gallery__div:nth-child(2) .gallery__div-div-button:hover {
  background-color: rgb(220, 53, 53);
}

.gallery__div:nth-child(3) .gallery__div-div-button:hover {
  background-color: rgb(37, 137, 37);
}

.gallery__div:nth-child(4) .gallery__div-div-button:hover {
  background-color: rgb(42, 42, 182);
}

.imgClicked .textInsideImageInGallery {
  animation: emergentText 1s;
  background: linear-gradient(180deg, black, transparent);
  transform: translateY(-20px);
  opacity: 1;
}

.winsMessage {
  font-size: 1.7rem;
  opacity: 1;
}

@keyframes emergentText {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    transform: translateY(-20px);
    opacity: 1;
  }
}

.eliminateLeft {
  animation: eliminateLeft 0.5s;
  opacity: 0;
}

.eliminateRight {
  animation: eliminateRight 0.5s;
  opacity: 0;
}

@keyframes eliminateLeft {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(-300px);
  }
}

@keyframes eliminateRight {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@keyframes winMessage {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }

  50% {
    transform: scale(1.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/*------------------------------------------------ #3 ------------------------------------------------   */

.toDoList {
  background: rgb(124, 124, 124);
  background: linear-gradient(
    45deg,
    rgba(124, 124, 124, 1) 0%,
    rgba(235, 155, 170, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  display: flex;
  text-align: center;
  font-size: 1.7rem;
}

.toDoList__div-form {
  margin: auto;
  width: 32%;
}
.toDoList__div-form form {
  border: 4px solid white;
  border-radius: 15px;
  padding: 20px;
  margin: 40px 10px 10px 20px;
  box-shadow: 10px 5px 10px var(--boxshadow-color);
  background: #ffffff7a;
}
#input_toDo {
  width: 85%;
  height: 40px;
  border-radius: 10px;
  margin: 20px 0;
  font-size: 1.1rem;
  padding: 0px 20px;
}

#submitButton_toDo {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1.3rem;
  cursor: pointer;
}

.toDoList__div-toDo {
  width: 32%;
  max-height: 100%;
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 30px;
  overflow-y: auto;
  box-shadow: 4px 4px 10px var(--boxshadow-color);
}

.toDoList__div-done {
  width: 32%;
  background-color: transparent;
  padding: 20px;
  margin: 20px;
  border-radius: 30px;
}

.toDoList__div-toDo-task {
  width: 90%;
  height: 100px;
  margin: 20px auto 10px;
  padding: 10px;
  position: relative;
  border-radius: 15px;
  box-shadow: 4px 4px 10px var(--boxshadow-color);
  text-align: left;
  background-color: white;
}

.toDoList__div-toDo-task:hover {
  background-color: rgb(255, 243, 243);
}
.toDoList__div-toDo-task:hover .toDoList__div-toDo-task-buttons {
  display: block;
}
.toDoList__div-toDo-task-buttons {
  text-align: center;
  position: absolute;
  right: 10px;
  bottom: 5px;
  cursor: pointer;
  display: none;
}
.toDoList__div-toDo-task-buttons-delete {
  background-image: url("../assets/icons/bin_closed.png");
  width: 45px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all 1s;
  padding: 5px;
  background-origin: content-box;
  border-radius: 30%;
}
.toDoList__div-toDo-task-buttons-delete:hover {
  background-color: #fa4747;
}
.toDoList__div-toDo-task-buttons-done {
  background-image: url("../assets/icons/tick.png");
  width: 25px;
  height: 25px;
  margin: 5px auto 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 1s;
  padding: 15px;
  background-origin: content-box;
  border-radius: 30%;
}
.toDoList__div-toDo-task-buttons-done:hover {
  /* background-image: url("../assets/icons/checked.png"); */
  background-color: lightgreen;
}
.toDoList__div-toDo-task > h3 {
  font-weight: 100;
  padding: 20px 60px;
  font-size: 1.3rem;
  height: 40%;
}
.toDoList__div-toDo-task-buttons-number {
  position: absolute;
  left: 0px;
  top: 0%;
  overflow: hidden;
  background-color: pink;
  font-style: italic;
  padding: 40px 10px;
  border-radius: 15px 0 0 15px;
  height: 33%;
}

.buttonInsideTask {
  padding: 10px 20px;
  margin: 20px 0 0 0;
  font-size: 1.1rem;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid gray;
}

.buttonInsideTask:first-child:hover {
  background-color: rgb(175, 235, 180);
}

.buttonInsideTask:nth-child(2):hover {
  background-color: rgba(235, 155, 170, 1);
}
.toDoList__div-done-div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.toDoList__div-done-div-img {
  width: 30px;
  height: 30px;
  margin: auto 10px;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 4px 4px 10px var(--boxshadow-color);
}
.toDoList__div-done-div-p {
  background-color: white;
  width: 65%;
  border-radius: 50px;
  padding: 10px 40px;
  font-size: 1.3rem;
  box-shadow: 4px 4px 10px var(--boxshadow-color);
}

/*------------------------------------------------ #4 ------------------------------------------------   */

.sliderSection {
  background-color: burlywood;
  background-image: none;
}
.slider {
  position: relative;
  margin: auto;
  margin-top: 200px;
}
.slide__button {
  position: absolute;
  top: 50%;
  padding: 1rem 1.1rem 1rem 1rem;
  background-color: white;
  font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 4px 4px 10px var(--boxshadow-color);
}
.slide__button:hover {
  background-color: rgb(209, 209, 209);
}
.slide__button--right {
  right: 6%;
}
.slide__button--left {
  left: 6%;
}
.slide__content {
  position: relative;
  width: 65%;
  margin: auto;
}
.slide__content-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.slide__content-option {
  padding: 20px 15px;
  border-radius: 25px;
  width: 150px;
  height: 15px;
  text-align: center;
  box-shadow: 4px 4px 10px var(--boxshadow-color);
  transform: translateY(30px);
  cursor: pointer;
}
.slide__content-option--1 {
  background-color: rosybrown;
}
.slide__content-option--1:hover {
  background-color: rgb(137, 104, 104);
}
.slide__content-option--2 {
  background-color: silver;
}
.slide__content-option--2:hover {
  background-color: rgb(148, 147, 147);
}
.slide__content-option--3 {
  background-color: gold;
}
.slide__content-option--3:hover {
  background-color: rgb(202, 172, 0);
}
.slide__content-option-selected {
  transform: translateY(16px) scale(1.1);
}
.hiddenSlide {
  display: none;
}
.slide__content-text {
  background-color: white;
  padding: 50px;
  border-radius: 15px;
  max-width: 50rem;
  min-height: 16rem;
  margin: auto;
}
.slide__content-text h3 {
  font-size: 3rem;
  padding: 20px 0;
}
.slide__content-text p {
  font-size: 1.3rem;
  padding: 10px 0;
}

/*------------------------------------------------ #5 ------------------------------------------------   */
.countdown {
  background: linear-gradient(90deg, #f5f7fa, #b8c6db);
}
.countdownMain {
  width: 80vw;
  margin: auto;
  text-align: center;
  margin-top: 300px;
}
.countdownMain__dateSelection {
  margin: 50px auto;
}
.countdownMain__dateSelection > h3,
.countdownMain__timeLeft > h3 {
  font-size: 1.5rem;
  margin: 40px;
}
.countdownMain__dateSelection-div {
  margin: 20px;
}
.countdownMain__dateSelection-div > input {
  width: 150px;
  height: 40px;
  font-size: 1.5rem;
  text-align: center;
}
#countdownMain__dateSelection-button {
  width: 150px;
  padding: 10px;
  border-radius: 15px;
  font-size: 1.2rem;
  cursor: pointer;
}
.countdownMain__timeLeft {
  margin: 50px auto;
  opacity: 0;
}

.countdownMain__timeLeft-div {
  display: flex;
  justify-content: center;
}
.countdownMain__timeLeft-div-dateTitle {
  transform: translateX(100px);
  font-size: 1.5rem;
}
.countdownMain__timeLeft-div-dateNumber {
  transform: translateY(40px);
  width: 120px;
  height: 100px;
  font-size: 4rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
