* {
  padding: 0;
  margin: 0;
}
html {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

header {
  height: 600px;
}
header > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: black;
}
.titleBlock {
  margin-top: -600px;
  height: 600px;
  text-align: center;
  color: white;
  position: relative;
  background-color: hsla(0, 0%, 0%, 0.65);
}
.mainIcon {
  width: 80px;
  margin: 30px 0;
}
h1 {
  font-size: 10rem;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 15px;
  left: 48vw;
  animation: titlePosition 1.3s;
}
.headerTitle {
  text-align: center;
  animation: subtitlesPosition 2s;
}
.title {
  font-size: 3rem;
}
.subtitle {
  font-size: 1rem;
  color: #f0db4f;
  font-weight: 100;
}
.iconContainer {
  animation: languagesPosition 3s;
}
.littleIcon {
  margin: 10px 5px;
  width: 40px;
}

@keyframes titlePosition {
  0% {
    opacity: 0;
    transform: translateX(1000px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes subtitlesPosition {
  0% {
    opacity: 0;
    transform: translateX(-1000px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes languagesPosition {
  0% {
    opacity: 0;
    transform: translateX(-1000px);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.4);
  }

  100% {
    opacity: 1;
  }
}
