* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

header {
  height: 600px;
}

header > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: black;
}

.titleBlock {
  margin-top: -600px;
  height: 600px;
  text-align: center;
  color: white;
  position: relative;
  background: linear-gradient(to right, transparent, black, transparent);
}

.mainIcon {
  width: 80px;
  margin: 30px 0;
}

h1 {
  font-size: 10rem;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 15px;
  left: 48vw;
  animation: titlePosition 1.3s;
}

.headerTitle {
  text-align: center;
  animation: subtitlesPosition 1.8s;
}

.title {
  font-size: 3rem;
}

.subtitle {
  font-size: 1rem;
  color: #f0db4f;
  font-weight: 100;
}

.iconContainer {
  animation: languagesPosition 2.5s;
}

.littleIcon {
  margin: 10px 5px;
  width: 40px;
}

@keyframes titlePosition {
  0% {
    opacity: 0;
    transform: translateX(1000px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes subtitlesPosition {
  0% {
    opacity: 0;
    transform: translateX(-1000px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes languagesPosition {
  0% {
    opacity: 0;
    transform: translateX(1000px);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.section {
  height: 800px;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(
    45deg,
    hsl(240deg 3% 14%) 0%,
    hsl(269deg 11% 22%) 11%,
    hsl(304deg 15% 29%) 22%,
    hsl(329deg 23% 38%) 33%,
    hsl(344deg 29% 48%) 44%,
    hsl(359deg 42% 58%) 56%,
    hsl(13deg 64% 63%) 67%,
    hsl(25deg 83% 64%) 78%,
    hsl(38deg 90% 64%) 89%,
    hsl(52deg 84% 63%) 100%
  );
}

.sectionTitleNumber {
  position: absolute;
  top: 50px;
  left: 100px;
  text-align: center;
}

.sectionNumber {
  top: 10px;
  left: 20px;
  font-size: 10rem;
  color: #414141;
  text-shadow: -5px 10.5px 15px black, 20px -4.5px 33px white;
}

.sectionTitle {
  font-size: 2rem;
}

@media (max-width: 1100px) {
  .sectionTitleNumber {
    position: relative;
    top: 0px;
    left: 0px;
  }
}

/*---------------- #1 ----------------   */
#calculator {
  width: 500px;
  height: 700px;
  margin: 50px auto;
  background-color: whitesmoke;
  overflow: hidden;
  border-radius: 20px;
}

#calculatorScreen {
  width: 390px;
  height: 200px;
  padding: 0 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 3rem;
  overflow: hidden;
  background-color: whitesmoke;
  box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.2), inset -4px -4px 5px white;
  margin: 30px auto;
  border-radius: 20px;
}

.temporaryCalculation {
  position: absolute;
  top: 0;
  right: 1vw;
  color: gray;
  font-size: 2.5rem;
}

#calculatorButtonsGrid {
  display: grid;
  grid-column: span 4;
  grid-row: span 5;
  grid-gap: 15px;
  padding: 0 30px;
  font-size: 2rem;
}

#calculatorButtonsGrid > span {
  text-align: center;
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  user-select: none;
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2), -4px -4px 10px white;
  cursor: pointer;
  background-color: transparent;
}

#calculatorButtonsGrid > span:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

#calculatorButtonsGrid > span:active {
  transform: translateY(3px) scale(1.01);
}

/* C BUTTON */
#calculatorButtonsGrid > span:nth-child(1) {
  background-color: #f07e7e;
}

#calculatorButtonsGrid > span:nth-child(1):hover {
  background-color: rgba(240, 126, 126, 0.5);
}

/* + BUTTON */
#calculatorButtonsGrid > span:nth-child(12) {
  grid-row: 3 / 5;
  grid-column: 4 / 4;
  background-color: rgb(125, 246, 125);
}

#calculatorButtonsGrid > span:nth-child(12):hover {
  background-color: rgb(125, 246, 125, 0.5);
}

/* - BUTTON */
#calculatorButtonsGrid > span:nth-child(19) {
  background-color: rgb(160, 130, 232);
}

#calculatorButtonsGrid > span:nth-child(19):hover {
  background-color: rgb(160, 130, 232, 0.5);
}
